
.blue {
    -fx-background-color: blue;
}
.light-blue {
    -fx-background-color: #00b2ff;
}
.white {
    -fx-background-color: #FFF;
}
.chat {
    -fx-background-color: #FFF;
}
.chat:hover {
    -fx-background-color: #EEE;
}
.chat:pressed {
    -fx-background-color: #DDD;
}