
.blue {
    -fx-background-color: blue;
}
.light-blue {
    -fx-background-color: #00b2ff;
}
.white {
    -fx-background-color: #FFF;
}
.chat {
    -fx-background-color: #FFF;
}
.chat:hover {
    -fx-background-color: #EEE;
}
.chat:pressed {
    -fx-background-color: #DDD;
}

.bordered {
    -fx-border-color: red;
    -fx-border-width: 1;
}

.message {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-padding: 10;
}

.messages-vbox {
    -fx-spacing: 5;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-padding: 0;
}
.scroll-pane:focused {
    -fx-background-insets: 0;
}
.scroll-pane > .viewport {
    -fx-background-color: transparent;
}
.scroll-pane:focused > .viewport {
    -fx-background-color: transparent;
}